/* Estilos globais */

body {
    background-color: #00ff80;
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}
img {
    border-radius: 6px;
    border: 5px solid #fff;
    box-shadow: #000;
    -webkit-box-shadow: 21px 35px 25px -19px rgba(74,74,74,0.51);
    -moz-box-shadow: 21px 35px 25px -19px rgba(74,74,74,0.51);
    box-shadow: 21px 35px 25px -19px rgba(74,74,74,0.51);
}
h1 {
    text-align: center;
}
.titulo {
    color: red;
}
.paragrafo {
    font-style: italic;
}
.mensagem {
    text-align: center;
    width: 320px;
    margin: 8px auto;
}
nav {
    margin: 8px;
    background-color: #fff;
    padding: 6px;
    font-size: 16px;
    font-weight: 800;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
}
.nav-link {
    background-color: #00ff80;
    border-radius: 6px;
    padding: 4px;
}

.nav-link:hover {
    background-color: #00ff8060;
}