/* Estilos globais */

body {
    background-color: #00ff80;
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}
.post {
    margin: 8px auto;
    text-align: center;
}
img {
    border-radius: 6px;
    border: 6px solid #fff;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #fff;
}
nav {
    display: flex;
    justify-content: center;
}
footer {
    background-color: #004b0e;
    bottom: 0px;
    position: fixed;
    width: 100vw;
}
.blog {
    display: flex;
    gap: 20px;
    margin: 10px;
    justify-content: center;
}
.post1 {
    text-align: center;
    margin-left: 10px;
    border: black solid 2px;
    border-radius: 6px;
    padding: 6px;
    width: 200px;
    height: 150px;
}
.post1:hover {
    background-color: #fff;
    margin-left: 10px;
    border-radius: 6px;
    border: black solid 2px;
}